body {
  background-color: #EFF5F5;
}

#title{ 
  height: 8%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  black;
  /*background-color: #598487;
  border: 5px solid #497174;*/
  margin-top: 80px;
  margin-bottom: 120px;
  margin-left: 50px;
  margin-right: 50px;
  
}

#base_container{ 
  width:fit-content; 
  margin:auto; 
  overflow:hidden;  
  
  
  border-radius:10px; 
  border: 20px solid #D6E4E5;
  background-color: #D6E4E5;
  box-shadow: 0px 0px 60px 40px rgba(73, 113, 116, 0.7);

}

