/* Go back icon part */
#back_div{ 
    display: flex;
    align-items: center;
    width: auto;
    height: 90px;
    padding-left: 20px;
}
#back_button{
    height: 70px;
    width: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #598487;
    border: 5px solid #497174;
    color:#D6E4E5;
    border-radius:50%; 
    font-size: 28px;
}