#video_container {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 100%;
  display:flex;
    top: 0;
  left: 0;
}
.myVideo {
  width: 100%;
  height: 100%;
}
#controls_container{
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#back_div{ 
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

#back_button{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #598487;
  border: 5px solid #497174;
  color:#D6E4E5;
  border-radius:30px; 
  font-size: 28px;
}

#play_pause_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 30%;
}

#volume_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#slider_container {
  width: 100%;
  margin: auto;
  margin-bottom: 10%;
}

.play-pause {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E8A87;
  border: 5px solid #0D5F5C;
  border-radius: 60px;
  margin-left: 15px;
  margin-right: 15px;
}
.play {
  color: #D6E4E5;
  font-size: 60px;
}

.pause {
  color: #D6E4E5;
  font-size: 60px;
}

.play-pause .play {
  display: block;
}

.play-pause .pause {
  display: none;
}

.play-pause.playing .pause {
  display: block;
}

.play-pause.playing .play {
  display: none;
}

.slider_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider_container {
  width: 100%;
  margin-top: 20px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #D6E4E5;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1E8A87;
  cursor: pointer;
}

.progress-bar::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #497174;
  cursor: pointer;
}
.volume-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  background-color: #EFF5F5;
  border-radius: 20px;
}

.volume-button {
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #497174;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.volume-button:hover {
  background-color: #598487;
}

.volume-icon {
  font-size: 30px;
  margin: 0px 20px;
}

.volume-down {
  margin-right: 20px;
}

.volume-up {
  margin-left: 20px;
}
